@import "./var.scss";

//Reset CSS

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    overflow-y: scroll;
    overflow-x: none;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

//Style

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: $VeryLightGrayishBlue;
}

.main-div {
    position: relative;
    left: 10rem;
    background-color: $White;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 15px;
    width: 70%;
    img {
        height: 50px;
        width: 50px;
    }
}

.notifications-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .notifcation-status {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $Blue;
            height: 2rem;
            width: 2rem;
            border-radius: 6px;
            color: $White;
        }
    }
    p {
        color: $GrayishBlue;
    }
}

main {
    margin-top: 2.5rem;
}

.mark {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    img {
        margin-right: 1rem;
    }
    .n1{
        display: flex;
        flex-direction: column;
        pre {
            text-decoration: none;
        }
    }
}