@import "./var.scss";

//Reset CSS

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    overflow-y: scroll;
    overflow-x: none;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

//Style

body {
    height: 100vh;
}