@import "./var.scss";

//Reset CSS

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    overflow-y: scroll;
    overflow-x: none;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    
}

//Style

body {
    min-height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $VeryLightGrayishBlue;
}

.main-div {
    background-color: $White;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 2rem;
    border-radius: 15px;
    margin: 8px;
    box-shadow: 0px 10px 15px 5px $LightGrayishBlue1;

    img {
        height: 50px;
        width: 50px;
    }
}

.notifications-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .notifcation-status {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-right: 1rem;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $Blue;
            height: 2rem;
            width: 2rem;
            border-radius: 6px;
            color: $White;
        }
    }
    p {
        color: $DarkGrayishBlue;
        font-weight: 500;
    }
}

main {
    margin-top: 2.5rem;
}

.mark {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: $VeryLightGrayishBlue;
    border-radius: 10px;
    
    
    .n1 {
        width: 100%;
        margin-left: .5rem;
        
   
    p{
        color: $DarkGrayishBlue;

        .name1{
        color: $VeryDarkBlue;
        font-weight: 800;
        }

        .event {
            font-weight: 800;

            .red-point {
                background-color: $Red;
                width: 10px;
                height: 10px;
                border-radius: 30px;
                margin-left: 1rem;
                display: inline-block;
            }
        }
    }
}

    
}

.angela {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: $VeryLightGrayishBlue;
    border-radius: 10px;
    margin-top: .8rem;
    
    .n2 {
        width: 70%;
        margin-left: .5rem;
   
    p{
        color: $DarkGrayishBlue;
        

        .name2{
        color: $VeryDarkBlue;
        font-weight: 800;
        margin-right: .3rem;
        }


            .red-point2 {
                background-color: $Red;
                width: 10px;
                height: 10px;
                border-radius: 30px;
                margin-left: 1rem;
                display: inline-block;
            }
        }
    }
}

.jacob {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: $VeryLightGrayishBlue;
    border-radius: 10px;
    margin-top: .8rem;
    
    .n3 {
        width: 70%;
        margin-left: .5rem;
   
    p{
        color: $DarkGrayishBlue;
        

        .name3{
        color: $VeryDarkBlue;
        font-weight: 800;
        margin-right: .3rem;
        }

        .chess {
            cursor: pointer;
            font-weight: 800;
            color: $Blue;
        }

            .red-point3 {
                background-color: $Red;
                width: 10px;
                height: 10px;
                border-radius: 30px;
                margin-left: 1rem;
                display: inline-block;
            }
        }
    }
}

.rizky {
    display: grid;
    align-items: center;
    height: 12rem;
    gap: .5rem;
    padding: 1rem;
    background-color: $White;
    border-radius: 10px;
    margin-top: .8rem;

    img {
        grid-row: 1;
        grid-column: 1;
    }
    
    .n4 {
        width: 70%;
        margin-left: .5rem;
        grid-row: 1;
        grid-column: 2 / span 2 ;

   
    p{
        color: $DarkGrayishBlue;
        

        .name4{
        color: $VeryDarkBlue;
        font-weight: 800;
        margin-right: .3rem;
        }

        }
    }
    .private-message {
        grid-row: 2;
        grid-column: 1 / span 2;
        margin-left: 4rem;
        border: .1px solid $LightGrayishBlue2;
        padding: 1.5rem;
        width: 100%;
        P {
            color: $DarkGrayishBlue;
        }
    }
}

    
.kimberly {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: $White;
    border-radius: 10px;
    margin-top: 1rem;
    
    .n5 {
        width: 70%;
        margin-left: .5rem;
   
    p{
        color: $DarkGrayishBlue;
        

        .name5{
        color: $VeryDarkBlue;
        font-weight: 800;
        margin-right: .3rem;
        }

        .event {
            font-weight: 800;
            color: $Blue;
        }

        }
    }
}

.nathan {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: $White;
    border-radius: 10px;
    margin-top: .8rem;
    
    .n6 {
        width: 70%;
        margin-left: .5rem;
   
    p{
        color: $DarkGrayishBlue;
        

        .name6{
        color: $VeryDarkBlue;
        font-weight: 800;
        margin-right: .3rem;
        }

        .event {
            font-weight: 800;
            color: $DarkGrayishBlue;
        }

        }
    }
}

.anna {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: $White;
    border-radius: 10px;
    margin-top: .8rem;
    
    .n7 {
        width: 70%;
        margin-left: .5rem;
   
    p{
        color: $DarkGrayishBlue;
        

        .name7{
        color: $VeryDarkBlue;
        font-weight: 800;
        margin-right: .3rem;
        }

        .event {
            cursor: pointer;
            font-weight: 800;
            color: $Blue;
        }

        }
    }
}

time {
    color: $GrayishBlue ;
}

footer {
    background-color: $VeryLightGrayishBlue;
    margin-top: 2rem;
    border-radius: 30px;
    padding: 1rem;
    animation: myAnimation 5s ease 1s infinite;

    @keyframes myAnimation {
        0% {background-color: $LightGrayishBlue1;}
        100% {background-color: $White;}
    }
}

//Active status 

.notifications-div {

    p {
        &:hover {
            cursor: pointer;
            transition: color .4s ease;
            color: $Blue;
        }
    }

}

.mark {
    cursor: pointer;

    p {
    .name1{
        
        &:hover {
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

    .event{

        &:hover{
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

.angela {
    cursor: pointer;

    p {
    .name2{
        &:hover {
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

    .event{

        &:hover{
            cursor: pointer;
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

.jacob {
    cursor: pointer;

    p {
    .name3{
        &:hover {
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

    .event{

        &:hover{
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

.rizky {
    cursor: pointer;

    p {
    .name4{
        &:hover {
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

    .event{

        &:hover{
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

.kimberly {
    cursor: pointer;
    
    p {
    .name5{
        &:hover {
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

    img {

        &:hover {
           
            border: .1px solid $LightGrayishBlue1;
            border-radius: 10px;
        }
    }
}

.nathan {
    cursor: pointer;

    p {
    .name6{
        &:hover {
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
    .event{

        &:hover{
            cursor: pointer;
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

    
}

.anna {
    cursor: pointer;

    p {

    .name7{

        &:hover {
            
            transition: color .4s ease;
            color: $Blue;
        }
    }
}

}

//responsive 

@media screen and (max-width: 1000px) {


    .main-div {
        width: 100%;
        height: 100%;
    }

    .kimberly {
        margin-top: 2rem;
    }
    
}

@media screen and (max-width: 850px) {
    .kimberly {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .kimberly {
        margin-top: 8rem;
    }
}

// Javascript design

.mark-toggle {
    background-color: $White;

    .n1 {
        p{
            .event {
                .red-point {
                    display: none;
                }
            }
        }
    }

}

.angela-toggle {
    background-color: $White;
    .n2 {
        p{
            .red-point2{
                display: none;
            }
        }
    }
}

.jacob-toggle {
    background-color: $White;
    .n3 {
        p {
            .red-point3{
                display: none;
            }
        }
    }
}